.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content 1fr;
}

.sidemenu {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    padding: 20px;
    background-color: #1992D4;
    font-family: 'Roboto', sans-serif;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 50px;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: #E2E8F0;
}

/* Sidebar css */
.logo {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 15px;
    align-items: center;

    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

.logo>p {
    margin: 0;
}

.logo>svg {
    justify-self: center;
}

.icons {
    display: grid;
    grid-auto-flow: row;
    gap: 15px;

    color: white;
    font-weight: bold;
}

.icon {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 15px;
    align-items: center;

    border-radius: 6px;
    padding: 4px;
}

.icon:hover {
    background-color: #1374a9;
    cursor: pointer;
}

.icon>p {
    margin: 0;
}

.icon>svg {
    justify-self: center;
    width: 24px;
    height: 24px;
    fill: white;
}

/* Header css */
.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px 40px;

    font-family: 'Roboto', sans-serif;
}

.header-search {
    display: grid;
    grid-template-columns: minmax(200px, 2fr) 1fr;
}

.header-search svg {
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    fill: black;
}

.search {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search>input {
    background-color: #E2E8F0;
    border: none;
    border-radius: 12px;
    width: 70%;
    height: 35%;
}

.profile {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;

    font-weight: bold;
}

.profile>p {
    margin: 0;
}

.profile-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
}

.header-welcome {
    display: grid;
    grid-template-columns: minmax(200px, 2fr) 1fr;
}

.welcome-hello {
    display: flex;
    align-items: center;
    gap: 15px;
}

.welcome-hello p {
    margin: 0;
}

.hello-img {
    height: 4rem;
    width: 4rem;
    aspect-ratio: auto;
    border-radius: 9999px;
}

.hello-flex {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hello-flex>p:nth-child(2) {
    font-weight: bold;
}

.hello-flex>p:nth-child(2) {
    font-size: 1.5rem;
}

.welcome-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
}

.welcome-buttons>button {
    background-color: #1992D4;
    color: white;
    padding: 8px 32px;
    border: none;
    border-radius: 24px;

    font-weight: 500;
    font-size: 0.9rem;
}

.welcome-buttons>button:hover {
    background-color: #167fb7;
    cursor: pointer;
}

/* Main CSS */
.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-flow: row;
    
    gap: 40px;
    padding: 20px 40px;

    font-family: 'Roboto', sans-serif;
}

.main p {
    color: #6E6E6E;
}

.main-projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-projects > h3 {
    margin: 0;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
}

.pjcard {
    background-color: white;
    height: 200px;
    border-radius: 12px;
    border-left: 8px solid #F0B429;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-icons {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.card-icons svg {
    width: 24px;
    height: 24px;
}

.main-side {
    gap: 40px;
    min-width: 300px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
}

.announcements h3 {
    margin: 0;
}

.trending h3 {
    margin: 0;
}

.announcements,
.trending {
    width: 100%;
    height: min-content;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-bg {
    background-color: white;
    width: auto;
    height: 100%;
    border-radius: 12px;
    padding: 20px;
}

.side-ann {
    display: flex;
    flex-direction: column;
}

.ann-card:nth-child(-n+2) {
    border-bottom: 1px solid #D2D2D2;
}

.side-trend {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.trend-cnt {
    display: grid;
    grid-template-columns: min-content 3fr;
    gap: 20px;
    align-items: center;
}

.trend-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trend-text p {
    margin: 0;
}

.trend-text p:nth-child(1) {
    color: black;
}